<a href="https://colab.research.google.com/github/manish3901/Python_projects/blob/main/01_Objects_and_Data_Structures_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Objects and data structure assessment.

## Test your knowledge. 

** Answer the following questions **

Double Click HERE to edit this markdown cell and write answers.

Numbers:  no r numerals which comes in 2 forms.Integers and float.There are complex numbers as well.

Strings:  ordered seq of characters. '' ""
Strings are immutable so do string concatenation to connect to cells.

Lists: []  mutables ,can contain str,int,float etc.

Tuples:( ) Same as Lists but immutable.

Dictionaries: unordered key value pair {}.
It's not a sequence,works on mapping key to its value.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
(10 * 5)+ 5**2 +(60 - 40) + (21 - 15.75)

100.25

In [2]:
#Use PEMDAS rule
(20*4)+(20-10)+2**4-(10/2)-0.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [7]:
a=3 + 1.5 + 4

In [8]:
a

8.5

In [9]:
type(a)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [10]:
# Square root:
25**0.5

5.0

In [11]:
# Square:
5**2

25

In [12]:
# Cube root
25**1.5

125.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [14]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [15]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [16]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [17]:
# Method 1:
a = [0,0,0]
print(a)

[0, 0, 0]

In [19]:
# Method 2:
A=[0] * 3 #as list is mutable.
A

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [20]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'

In [21]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [22]:
list4 = [5,3,4,6,1]

list4.sort()

In [23]:
list4

[1, 3, 4, 5, 6]

In [24]:
sorted(list4) #method2.Pyhton built in.

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [25]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [32]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [36]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]   #since there's only one element in last list(hello),u can avoid righting[0] in last.
#Grab hello

'hello'

In [40]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [41]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [42]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
dict are mappings not a sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples r immutable unlike lists.

In [43]:
#How do you create a tuple?<br><br>
s = (1,2.0,'str')

In [44]:
type(s)

tuple

## Sets

What is unique about a set?<br><br>
sets dont allow for repeatative objects.
You can think sets as dict with only keys.

Use a set to find the unique values of the list below:

In [45]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]


a = set(list5)
print(a)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in!)

In [46]:
# Answer before running cell
2 > 3

False

In [47]:
# Answer before running cell
3 <= 2

False

In [48]:
# Answer before running cell
3 == 2.0

False

In [49]:
# Answer before running cell
3.0 == 3

True

In [50]:
# Answer before running cell
4**0.5 != 2   #read above table fr this.

False

Final Question: What is the boolean output of the cell block below?

In [51]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!