# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    return (4/3)*(3.14)*(rad)**3

In [2]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [3]:
def ran_check(num,low,high):
    if num > low and num < high:
      print( f'{num} is in the range between {low} and {high}')
    else:
      print( f'{num} is in not in the range between {low} and {high}')

In [4]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

In [5]:
ran_check(8,2,7)

8 is in not in the range between 2 and 7

If you only wanted to return a boolean:

In [6]:
def ran_bool(num,low,high):
    if num > low and num < high:
      return True
    else:
      return False

In [7]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [8]:
# Wrong!!!!
def up_low(s):
  total_cap=[]
  capital == capital.capitalize()
  if caital in s:
    total_cap.append(capital)
  print(f'No. of Upper case character: {total_cap.count()}')

In [9]:
def up_low(s):
  d={'Upper':0,'lower':0}
  for char in s:
    if char.isupper():
      d['Upper']+=1
    elif char.islower():
      d['lower']+=1
    else:
      pass
  print("Original String : ", s)
  print("No. of Upper case characters : ", d["Upper"])
  print("No. of Lower case Characters : ", d["lower"])

In [10]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [11]:
def unique_list(lst):
    return list(set(lst))

In [12]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
def unique_list(lst):
  x=[]
  for a in lst:
    if a not in x:
      x.append(a)
  return x

In [14]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [15]:
def multiply(numbers):
    mult_num=1 
    for num in numbers:
      mult_num*=(num)
    return mult_num

In [16]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [17]:
def palindrome(s):
  s=s.replace(' ','')  #To remove spaces between strings.
  if s==s[::-1]:
    return True
  else:
    False

In [18]:
palindrome('helleh')

True

In [19]:
palindrome('nurses run')

True

In [20]:
palindrome('abcba')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [21]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [22]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [23]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!