# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(n1,n2):
  if n1%2==0 and n2%2==0:
    return min(n1,n2)
  else:
    return max(n1,n2)

In [ ]:
lesser_of_two_evens(2,4)

2

In [ ]:
lesser_of_two_evens(2,5)

5

In [ ]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(string):
  string=string.split()
  if string[0][0]==string[1][0]:
    return True
  else:
    return False

In [ ]:
animal_crackers('Levelheaded Llama')

True

In [ ]:
animal_crackers('Crazy Kangaroo')

False

In [ ]:
animal_crackers('KCrazy Kangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(i1,i2):
  if i1+i2==20:
    return True
  elif i1==20 or i2==20:
    return True
  else:
    return False

In [ ]:
makes_twenty(20,10)

True

In [ ]:
makes_twenty(12,8)

True

In [ ]:
makes_twenty(2,3)

False

In [ ]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 or n1==20 or n2==20:
        print(True)
    else:
        print(False)
    pass

In [ ]:
# Check
makes_twenty(20,10)

True

In [ ]:
# Check
makes_twenty(2,3)

False

In [ ]:
def makes_twenty(n1,n2):    #right method.
    return n1 + n2 == 20 or n1==20 or n2==20

In [ ]:
# Check
makes_twenty(20,10)

True

In [ ]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def capitalise(word):
  return word[:3].capitalize()+word[3:].capitalize()

In [ ]:
capitalise('macdonald')

'MacDonald'

In [ ]:
def old_macdonald(name):   #capitalize method.
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    pass

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(sent):
  return sent.split()[::-1]

In [ ]:
master_yoda('I am home')

['home', 'am', 'I']

In [ ]:
def master_yoda(sent):
  return ' '.join(sent.split()[::-1])

In [ ]:
master_yoda('I am home')

'home am I'

In [ ]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [ ]:
def almost_there(num):
  if (abs(100-num)<=10) or (abs(200-num)<=10):
    return True
  else:
    pass
  return False

In [ ]:
almost_there(90)

True

In [ ]:
almost_there(209)

True

In [ ]:
almost_there(150)

False

In [ ]:
def almost_there(n):    ##absolute fn
      return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [ ]:
# Check
almost_there(104)

True

In [ ]:
# Check
almost_there(150)

False

In [ ]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    for i in range(0, len(nums)-1):
            if nums[i] == 3 and nums[i+1] == 3:
                return True
    return False

In [ ]:
# Check
has_33([1, 3, 3])

True

In [ ]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result
    pass

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [1]:
def blackjack(a,b,c):
    if sum((a,b,c))<= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=21 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'
    pass

In [ ]:
# Check
blackjack(5,6,7)

18

In [ ]:
# Check
blackjack(9,9,9)

'BUST'

In [2]:
# Check
blackjack(9,9,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

9

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
               # code.remove(num) also works
    return len(code) == 1
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)
    pass

In [ ]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    patterns = {1:'  $  ',2:' $ $ ',3:'$   $',4:'$$$$$',5:'$$$$ ',6:'   $ ',7:' $   ',8:'$   $ ',9:'$    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])
    pass

In [ ]:
print_big('a')

  $
 $ $
$$$$$
$   $
$   $

## Great Job!