In [1]:
#Patterns

In [2]:
# nested loop is used mostly in for loops.

In [4]:
for i in range(1,6):
    print(f'Pass {i} - ')

Pass 1 -
Pass 2 -
Pass 3 -
Pass 4 -
Pass 5 -

In [6]:
for j in range(1,6):
    print(j,end=' ')

1 2 3 4 5

In [14]:
#P.1
for i in range(1,6):
    print(f'Pass {i} - ',end=' ')
    for j in range(1,6):
        print(j,end=' ')
    print()

Pass 1 -  1 2 3 4 5
Pass 2 -  1 2 3 4 5
Pass 3 -  1 2 3 4 5
Pass 4 -  1 2 3 4 5
Pass 5 -  1 2 3 4 5

In [22]:
for i in range(10):
    print('*',end='')

**********

In [28]:
for j in range(5):
        print('*')

*
*
*
*
*

In [40]:
#P.2
for i in range(5):
    print('*',end='')
    for j in range(9):
        print('*',end='')
    print()

**********
**********
**********
**********
**********

In [41]:
for i in range(5):
    print('**********')

**********
**********
**********
**********
**********

In [44]:
#P.3
for i in range(5):
    print('*',end=' ')
    for j in range(4):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [73]:
#P.4
for i in range(5):
    print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [74]:
for i in range(5):
    print('*',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [76]:
#P.5
for i in range(5):
    print('*',end=' ')
    for j in range(i,4):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [77]:
#P.6
for i in range(5):
    print('*',end=' ')
    for j in range(4,i,-1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [100]:
#P.7
for i in range(1,6):
    print('1',end=' ')
    for j in range(2,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [98]:
for i in range(5):
    print('1',end=' ')
    for j in range(2,i+2):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [105]:
for i in range(1,6):
    print(i)
    for j in range(1,i+1):
        print(j,end=" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5

In [115]:
#P.8
for i in range(1,6):
    print(i,end=' ')
    for j in range(2,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [119]:
for i in range(1,6):
    print()
    for j in range(1,i+1):
        print(i,end=' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [121]:
#P.9
for i in range(5):
    print('*',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [123]:
#P.10
for i in range(1,6):
    print(i,end=' ')
    for j in range(2,6):
        print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 2 3 4 5
4 2 3 4 5
5 2 3 4 5

In [124]:
for i in range(1,6):
    print(f'Pass {i} - ',end=' ')
    for j in range(1,6):
        print(j,end=' ')
    print()

Pass 1 -  1 2 3 4 5
Pass 2 -  1 2 3 4 5
Pass 3 -  1 2 3 4 5
Pass 4 -  1 2 3 4 5
Pass 5 -  1 2 3 4 5

In [127]:
for i in range(5):
    print('1',end=' ')
    for j in range(2,i+2):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [134]:
#P.11
for i in range(1,6):
    print('5',end=' ')
    for j in range(4,i-1,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [136]:
for i in range(1,6):
    print()
    for j in range(5,i-1,-1):
        print(j,end=' ')

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [137]:
#P.12
for i in range(5,0,-1):
    print(i,end=' ')
    for j in range(i-1,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [140]:
#P.13
for i in range(1,6):
    print(i,end=' ')
    for j in range(i-1,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [141]:
#P.14
for i in range(5,0,-1):
    print(i,end=' ')
    for j in range(5):
        print(i,end=' ')
    print()

5 5 5 5 5 5
4 4 4 4 4 4
3 3 3 3 3 3
2 2 2 2 2 2
1 1 1 1 1 1

In [145]:
for i in range(1,6):
    print(i,end=' ')
    for j in range(1,i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [184]:
#P.15
for i in range(1,6):
    for j in range(1,6-i):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [191]:
#P.16
for i in range(5,0,-1):
    print(i,end=' ')
    for j in range(i,1,-1):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [195]:
for i in range(5,0,-1):
    print(end=' ')
    for j in range(i,0,-1):
        print(i,end=' ')
    print()

 5 5 5 5 5
 4 4 4 4
 3 3 3
 2 2
 1

In [200]:
for i in range(1,6):
    print('1',end=' ')
    for j in range(2,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [217]:
i = 0
while i <= 4:
    print('1',end=' ')
    i +=1
    j = 2
    while j<=i:
        print(j,end=' ')
        j+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [221]:
#nested while loops are little complex to imagine,so work with for loops if possible.

In [205]:
for i in range(1,6):
    for j in range(1,6-i):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [223]:
#P.17
for i in range(1,6):
    for j in range(1,6-i):
        print(end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [232]:
for i in range(1,6):
    for j in range(1,6-i):
        print(end=' ')
    for k in range(1,i+1):
        print(i,end=' ')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [229]:
#P.18
for i in range(1,6):
    for j in range(1,6-i):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    for l in range(i-1,0,-1):
        print(l,end=' ')       
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [231]:
for i in range(1,6):
    for j in range(1,6-i):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(i,end=' ')
    for l in range(i-1,0,-1):
        print(i,end=' ')
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [248]:
#P.19
count = 0
for i in range(1,5):
    for j in range(1,i+1):
        print(count,end=' ')
        count+=1
    print()

0
1 2
3 4 5
6 7 8 9

In [249]:
count= 0
i = 1
while i <= 4:
    j = 1
    while j <= i:
        print(count,end=' ')
        count+=1
        j+=1
    i +=1
    print()

0
1 2
3 4 5
6 7 8 9

In [268]:
#P.20
k = 1
for i in range(1,4):
 
    for j in range(1,k+1):
        print('*',end=' ')
    k+=2
    print()

*
* * *
* * * * *

In [273]:
k = 1
for i in range(1,4):
    for j in range(1,k+1):
        print('*',end=' ')
    k += 2
    print()

*
* * *
* * * * *

In [275]:
for i in range(1,6,2):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* * *
* * * * *

In [277]:
k = 1
for i in range(1,4):
    for j in range(1,k+1):
        print('1',end=' ')
    k+=2
    print()

1
1 1 1
1 1 1 1 1

In [278]:
k = 1
for i in range(1,4):
    for j in range(1,k+1):
        print(j,end=' ')
    k+=2
    print()

1
1 2 3
1 2 3 4 5

In [279]:
for i in range(1,5):
    for j in range(5-i):
        print(end=' ')
    for k in range(1,i+1):
        print('*',end=' ')
    print()

    *
   * *
  * * *
 * * * *

In [283]:
#P.21
num = int(input("Enter number of rows of '*' to print: "))
for i in range(1,num+1):
    for j in range(num+1-i):
        print(end=' ')
    for k in range(1,i+1):
        print('*',end=' ')
    print()

Enter number of rows of '*' to print: 4
    *
   * *
  * * *
 * * * *

In [303]:
for i in range(1,6):
    for j in range(1,i):
        print('',end=' ')
    for k in range(6-i):
        print('*',end=' ')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [311]:
#P.22
num = int(input('Enter number of rows of "*" to print: '))
for i in range(1,num+1):
    for j in range(1,i):
        print(end=' ')
    for k in range(num,i-1,-1):
        print('*',end=' ')
    print()

Enter number of rows of "*" to print: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [321]:
#P.23 print A
for row in range(7):
    for col in range(5):
        if ((col == 0 or col == 4) and row != 0) or ((row ==0 or row == 3) and (col > 0 and col < 4)):
            print('*',end='')
        else:
            print(end=' ')
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [325]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col == 4)) or ((row == 0 or row == 3) and (col > 0 and col < 4)):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [337]:
#P.24 print B
for row in range(7):
    for col in range(5):
        if (col == 0 or col == 4) or (row == 0  or row ==3 or row == 6):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [345]:
for row in range(7):
    for col in range(5):
        if (col == 0) or (col == 4 and (row != 0 and row!= 3 and row != 6))or ((row == 0  or row == 3 or row == 6) and (col!= 4)) :
            print('*',end='')
        else:
            print(end=' ')
    print()

****
*   *
*   *
****
*   *
*   *
****

In [350]:
for row in range(1,6):
    for col in range(1,row+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [354]:
for row in range(1,6):
    for col in range(1,row+1):
        print(row,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [359]:
count = 0
for row in range(0,4):
    for col in range(0,row+1):
        print(count,end=' ')
        count+=1
    print()

0
1 2
3 4 5
6 7 8 9

In [360]:
for row in range(1,6):
    for space in range(5-row):
        print(' ',end=' ')
    for col in range(1,row+1):
        print(col,end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [361]:
for row in range(1,6):
    for space in range(5-row):
        print('',end=' ')
    for col in range(1,row+1):
        print(col,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [362]:
for row in range(1,6):
    for space in range(5-row):
        print('',end=' ')
    for col in range(1,row+1):
        print(row,end=' ')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [363]:
# find sqrt using break,continue statements inside loop
print('Note: Type 999 to break the loop!')
while True:
    num = int(input('Enter any number : '))
    if num == 999:
        break
    elif num < 0:
        print('Sqrt of negative number can not be calculated!')
    else:
        print(f'Sqrt of {num} is : {round((num**0.5),2)}')

Note: Type 999 to break the loop!
Enter any number : 50
Sqrt of 50 is : 7.07
Enter any number : 100
Sqrt of 100 is : 10.0
Enter any number : -30
Sqrt of negative number can not be calculated!
Enter any number : 0
Sqrt of 0 is : 0.0
Enter any number : 999

In [364]:
-25**0.5

-5.0

In [371]:
# prime and composite count
print('Note: -1 will break the loop!')
prime_count= 0
composite_count = 0
while True:
    num = int(input('Enter any number: '))
    if num == -1:
        break
    elif num < 2:
        pass
    elif num == 2:
        prime_count+=1
    else:
        for i in range(2,num):
            if num % i == 0:
                composite_count +=1
                break
        else:
            prime_count+=1
            
print("Count of prime numbers     : ",prime_count)
print("Count of composite numbers : ",composite_count)

Note: -1 will break the loop!
Enter any number: 0
Enter any number: 1
Enter any number: 2
Enter any number: 3
Enter any number: 4
Enter any number: 5
Enter any number: 9
Enter any number: -1
Count of prime numbers     :  3
Count of composite numbers :  2

In [372]:
# prime and composite count
print('Note: -1 will break the loop!')
prime_count= 0
composite_count = 0
while True:
    num = int(input('Enter any number: '))
    if num == -1:
        break
    elif num < 2:
        pass
    elif num == 2:
        prime_count+=1
    else:
        i = 2
        while i < num:
            if num % i == 0:
                composite_count +=1
                break
            i+=1
        else:
            prime_count+=1
            
print("Count of prime numbers     : ",prime_count)
print("Count of composite numbers : ",composite_count)

Note: -1 will break the loop!
Enter any number: 0
Enter any number: 1
Enter any number: 2
Enter any number: 3
Enter any number: 4
Enter any number: 5
Enter any number: 9
Enter any number: -1
Count of prime numbers     :  3
Count of composite numbers :  2

In [376]:
#decimal eqvt of 1/2,1/3,1/4...,1/n
n = int(input('Enter the value of n: '))
for i in range(1,n+1):
    den = 1/(i+1)
    print(f'1/{i+1} = {round(den,2)}')

Enter the value of n: 9
1/2 = 0.5
1/3 = 0.33
1/4 = 0.25
1/5 = 0.2
1/6 = 0.17
1/7 = 0.14
1/8 = 0.12
1/9 = 0.11
1/10 = 0.1

In [392]:
string = 'HELLO'
for row in range(0,5):
    print('Pass : ',end=' ')
    for col in range(0,1):
        print(string[row],end=' ')
    print()
print('Done!')

Pass :  H
Pass :  E
Pass :  L
Pass :  L
Pass :  O
Done!

In [395]:
#Sometimes,its simple!
for letter in 'HELLO':
    print('Pass : ',letter )
print('Done!')

Pass :  H
Pass :  E
Pass :  L
Pass :  L
Pass :  O
Done!

## Thank You!